#*****************************************
# SITE & RELEASE DATA COLLECTION
# Save file as /srv/pillar/site.j2
# this is jinja not yaml!!
# Reference values
#*****************************************
{%- set sitedata = {} %}
{%- do sitedata.update( {

      'deploy_project': 'all',
      'auth_strategy': 'noauth',

      'dock_type': 'provisioner',
      'nbp_plugin_type': 'hotpot_only',
      'fusionstorage_fmip': '192.168.0.200',
      'fusionstorage_fsaip': ['192.168.0.4', '192.168.0.5', '192.168.0.6',],
      'drbd_host_0_name': 'rckdeba',
      'drbd_host_0_ipv4': '10.43.70.115',
      'drbd_host_1_name': 'rckdebb',
      'drbd_host_1_ipv4': '10.43.70.116',

      'host_ipv6': '::1/128',
      'host_ipv4': '127.0.0.1',
      'tgtBindIp': '127.0.0.1',
      'db_host'  : '127.0.0.1',
      'dns_host1': '8.8.8.8',
      'dns_host2': '64.6.64.6',
      'ipdomain': 'example.com',
      'timezone': 'America/Denver',

      'enabled_backends': 'lvm, cinder, ceph, nfs, netapp_ontap_san',
      'lvm_poolname': 'opensds-volumes',
      'ceph_poolname': 'ceph-volumes',
      'cinder_poolname': 'cinder-volumes',
      'dorado_poolname': 'dorado-volumes',
      'fusionstorage_poolname': 'fusionstorage-volumes',

      'apiserver_release': 'v0.10.0',

      'gelato_release': 'v0.10.0',
      'gelato_service': 'multi-cloud',
      'gelato_hashsum': 'c2edc201d3bb89f60e09bf1cc8ca5f94861f6163b0d59abfff1ad05a43536550',
      'gelato_uri': 'https://github.com/sodafoundation/multi-cloud/releases/download',

      'hotpot_release': 'v0.10.1',
      'hotpot_service': 'opensds',
      'hotpot_hashsum': 'ee53570846690ef660121079299992096545178816625eceaed3a0c9559f72e8',
      'hotpot_uri': 'https://github.com/sodafoundation/opensds/releases/download',

      'sushi_release': 'v0.10.0',
      'sushi_hashsum': 'ff1d1fd0d065afefcd499d5be25780a8fa5f8eaac3f7536720b54139ed1fa5e9',
      'sushi_uri': 'https://github.com/sodafoundation/nbp/releases/download',

      'cinder_release': '15.0.1',
      'cinder_hashsum': 'f0b2ebe65af831015ef45cf9ce859fac707e0cc0cfe045d179d6c6d580130e43',
      'cinder_url': 'https://github.com/openstack/cinder/archive/15.0.1.tar.gz',

      'kubectl_hashsum': '6e0aaaffe5507a44ec6b1b8a0fb585285813b78cc045f8804e70a6aac9d1cb4c',
      'kubectl_url': 'https://storage.googleapis.com/kubernetes-release/release/v1.17.0/bin/linux/amd64/kubectl',

      'container_hotpot_img': 'opensdsio/opensds-controller',
      'container_dock_img': 'opensdsio/opensds-dock',
      'container_dashboard_img': 'opensdsio/dashboard',
      'container_etcd_img': 'quay.io/coreos/etcd',
      'container_cinder_img': 'openstack/cinder-blockbox',

      'hotpot_version': 'latest',
      'dock_version': 'latest',
      'dashboard_version': 'latest',
      'etcd_version': 'latest',
      'cinder_version': 'stable/rocky',

      'devstack_enabled_services': 'mysql,key',
      'devstack_password': 'opensds@123',
      'project_domain_name': 'Default',
      'project_name': 'service',
      'user_domain_name': 'Default',

      'devstack_path': '/opt/opensds-linux-amd64-devstack',
      'hotpot_path': '/opt/opensds-linux-amd64',
      'devstack_path': '/opt/opensds-linux-amd64-devstack',
      'gelato_path': '/opt/opensds-gelato-linux-amd64',
      'sushi_path': '/opt/opensds-sushi-linux-amd64',
      'go_prefix': '/usr/local',
      'go_root': '/usr/local/go',
      'go_path': '/usr/local/golang/packages',

      'port_hotpot': '50040',
      'port_dock': '50050',
      'port_csi': '50051',
      'port_gelato': '8089',
      'port_mysql': '3306',
      'port_nginx': '8088',
      'port_auth1': '2379',
      'port_auth2': '2380',

}) %}
