#*****************************************
# SITE & RELEASE DATA COLLECTION
# Save file as /srv/pillar/site.j2
# this is jinja not yaml!!
# Reference values
#*****************************************
{%- set sitedata = {} %}
{%- do sitedata.update( {

      'deploy_project': 'all',
      'auth_strategy': 'noauth',

      'dock_type': 'provisioner',
      'nbp_plugin_type': 'hotpot_only',
      'fusionstorage_fmip': '192.168.0.200',
      'fusionstorage_fsaip': ['192.168.0.4', '192.168.0.5', '192.168.0.6',],
      'drbd_host_0_name': 'rckdeba',
      'drbd_host_0_ipv4': '10.43.70.115',
      'drbd_host_1_name': 'rckdebb',
      'drbd_host_1_ipv4': '10.43.70.116',

      'host_ipv6': '::1/128',
      'host_ipv4': '127.0.0.1',
      'tgtBindIp': '127.0.0.1',
      'db_host'  : '127.0.0.1',
      'dns_host1': '8.8.8.8',
      'dns_host2': '64.6.64.6',
      'ipdomain': 'example.com',
      'timezone': 'America/Denver',

      'enabled_backends': 'lvm, cinder, ceph',
      'lvm_poolname': 'opensds-volumes',
      'ceph_poolname': 'ceph-volumes',
      'cinder_poolname': 'cinder-volumes',
      'dorado_poolname': 'dorado-volumes',
      'fusionstorage_poolname': 'fusionstorage-volumes',

      'gelato_release': 'v0.6.0',
      'gelato_service': 'multi-cloud',
      'gelato_uri': 'https://github.com/opensds/multi-cloud/releases/download',
      'gelato_hashsum': '92a26c93a8b56472922d7b771eb41f3689e585e87aaee6466dae5684f14976ea',

      'hotpot_release': 'v0.6.0',
      'hotpot_service': 'opensds',
      'hotpot_hashsum': '34916233b3f145491efd97108558938dadaa3f699f4508cf946e22f28aac4741',
      'hotpot_uri': 'https://github.com/opensds/opensds/releases/download',

      'sushi_release': 'v0.6.0',
      'sushi_hashsum': 'b609798db6f31a8a3d2261f88657c162821c0fa296e4e9dbe9a3dafa5e907270',
      'sushi_uri': 'https://github.com/opensds/nbp/releases/download',

      'cinder_release': '13.0.5',
      'cinder_hashsum': '6da0712d6ef69ee2fbab99a0613900d368d188ccafa2038c08198835cb80f52d',
      'cinder_url': 'https://github.com/openstack/cinder/archive/13.0.5.tar.gz',

      'kubectl_hashsum': 'a93cd2ffd146bbffb6ea651b71b57fe377ba1f158c7c0eb16c14aa93394cd576',
      'kubectl_url': 'https://storage.googleapis.com/kubernetes-release/release/v1.12.3/bin/linux/amd64/kubectl',

      'container_hotpot_img': 'opensdsio/opensds-controller',
      'container_dock_img': 'opensdsio/opensds-dock',
      'container_dashboard_img': 'opensdsio/dashboard',
      'container_etcd_img': 'quay.io/coreos/etcd',
      'container_cinder_img': 'openstack/cinder-blockbox',

      'hotpot_version': 'latest',
      'dock_version': 'latest',
      'dashboard_version': 'latest',
      'etcd_version': 'latest',
      'cinder_version': 'stable/rocky',

      'devstack_enabled_services': 'mysql,key',
      'devstack_password': 'opensds@123',
      'project_domain_name': 'Default',
      'project_name': 'service',
      'user_domain_name': 'Default',

      'devstack_path': '/opt/opensds-linux-amd64-devstack',
      'hotpot_path': '/opt/opensds-linux-amd64',
      'devstack_path': '/opt/opensds-linux-amd64-devstack',
      'gelato_path': '/opt/opensds-gelato-linux-amd64',
      'sushi_path': '/opt/opensds-sushi-linux-amd64',
      'go_prefix': '/usr/local',
      'go_root': '/usr/local/go',
      'go_path': '/usr/local/golang/packages',

      'port_hotpot': '50040',
      'port_dock': '50050',
      'port_csi': '50051',
      'port_gelato': '8089',
      'port_mysql': '3306',
      'port_nginx': '8088',
      'port_auth1': '2379',
      'port_auth2': '2380',

}) %}
