# This YAML file contains attacher & csi driver API objects,
# which are necessary to run external csi attacher for soda.

kind: Service
apiVersion: v1
metadata:
  name: {{ .Values.csipluginAttacher.name }}
  labels:
    app: {{ template "csipluginAttacher.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  selector:
    app: {{ template "csipluginAttacher.fullname" . }}
    release: {{ .Release.Name }}
  ports:
    - name: dummy
      port: 12345

---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: {{ template "csipluginAttacher.fullname" . }}
  labels:
    app: {{ template "csipluginAttacher.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  serviceName: {{ .Values.csipluginAttacher.name }}
  replicas: {{ .Values.csipluginAttacher.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "csipluginAttacher.fullname" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      name: {{ template "csipluginAttacher.fullname" . }}
      labels:
        app: {{ template "csipluginAttacher.fullname" . }}
        release: {{ .Release.Name }}
    spec:
      serviceAccount: csi-attacher-file
      # https://kubernetes.io/docs/concepts/services-networking/dns-pod-service
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: csi-attacher
          image: quay.io/k8scsi/csi-attacher:v1.1.1
          args:
            - "--v=5"
            - "--csi-address=$(ADDRESS)"
          env:
            - name: ADDRESS
              value: /csi/csi.sock
          imagePullPolicy: "IfNotPresent"
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
            - name: iscsi-dir
              mountPath: /etc/iscsi/
        - name: cluster-driver-registrar
          image: quay.io/k8scsi/csi-cluster-driver-registrar:v1.0.1
          args:
            - "--v=5"
            - "--pod-info-mount-version=\"v1\""
            - "--csi-address=$(ADDRESS)"
          env:
            - name: ADDRESS
              value: /csi/csi.sock
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
        - name: {{ template "csipluginAttacher.fullname" . }}
          image: {{ .Values.image }}
          args :
            - "--csiEndpoint=$(CSI_ENDPOINT)"
            - "--sodaEndpoint=$(soda_ENDPOINT)"
            - "--sodaAuthStrategy=$(soda_AUTH_STRATEGY)"
            - "--v=8"
          env:
            - name: CSI_ENDPOINT
              value: unix://csi/csi.sock
            - name: soda_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: csi-configmap-sodaplugin-file
                  key: sodaendpoint
            - name: soda_AUTH_STRATEGY
              valueFrom:
                configMapKeyRef:
                  name: csi-configmap-sodaplugin-file
                  key: sodaauthstrategy
            - name: OS_AUTH_URL
              valueFrom:
                configMapKeyRef:
                  name: csi-configmap-sodaplugin-file
                  key: osauthurl
            - name: OS_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: csi-configmap-sodaplugin-file
                  key: osusername
            - name: PASSWORD_ENCRYPTER
              valueFrom:
                configMapKeyRef:
                  name: csi-configmap-sodaplugin-file
                  key: passwordencrypter
            - name: ENABLE_ENCRYPTED
              valueFrom:
                configMapKeyRef:
                  name: csi-configmap-sodaplugin-file
                  key: enableEncrypted
            - name: OS_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: csi-configmap-sodaplugin-file
                  key: ospassword
            - name: PASSWORD_ENCRYPTER
              valueFrom:
                configMapKeyRef:
                  name: csi-configmap-sodaplugin-file
                  key: passwordencrypter
            - name: ENABLE_ENCRYPTED
              valueFrom:
                configMapKeyRef:
                  name: csi-configmap-sodaplugin-file
                  key: enableEncrypted
            - name: OS_TENANT_NAME
              valueFrom:
                configMapKeyRef:
                  name: csi-configmap-sodaplugin-file
                  key: ostenantname
            - name: OS_PROJECT_NAME
              valueFrom:
                configMapKeyRef:
                  name: csi-configmap-sodaplugin-file
                  key: osprojectname
            - name: OS_USER_DOMAIN_ID
              valueFrom:
                configMapKeyRef:
                  name: csi-configmap-sodaplugin-file
                  key: osuserdomainid
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
            - name: iscsi-dir
              mountPath: /etc/iscsi/
            - name: ceph-dir
              mountPath: /etc/ceph/
            - name: certificate-path
              mountPath: /opt/soda-security
      volumes:
        - name: socket-dir
          emptyDir:
        - name: iscsi-dir
          hostPath:
            path: /etc/iscsi/
            type: Directory
        - name: ceph-dir
          hostPath:
            path: /etc/ceph/
            type: DirectoryOrCreate
        - name: certificate-path
          hostPath:
            path: /opt/soda-security
            type: DirectoryOrCreate
