dist: xenial
sudo: required

language: go
go:
  - 1.13.x

services:
  - docker
  - docker-compose

before_script:
  # Install ansible 2.4.x
  - chmod +x ansible/install_ansible.sh
  - echo | /bin/bash ansible/install_ansible.sh

script:
  - chmod +x ./ci_check.sh
  - echo | travis_wait 30 /bin/bash ./ci_check.sh
