# Copyright 2018 The soda Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
- name: set script dir permissions
  file:
    path: ./script
    mode: 0755
    recurse: yes
  become: yes

- name: check ansible version
  shell: "{{ item }}"
  with_items:
    - bash ./script/check_ansible_version.sh
  become: yes

- name: run the equivalent of "apt-get update" as a separate step
  when: ansible_distribution == "Ubuntu" and (ansible_lsb.major_release|int >=16 and ansible_lsb.major_release|int <=18)
  apt:
    update_cache: yes

- name: install system packages
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - make
    - gcc
    - python-pip
    - open-iscsi
  when: ansible_distribution == "Ubuntu" and (ansible_lsb.major_release|int >=16 and ansible_lsb.major_release|int <=18)

- name: Install system packages on CentoS or RHEL
  when: (ansible_distribution == "CentOS" or ansible_distribution == "RedHat")
        and ansible_distribution_major_version >= "8"
  yum:
    name:
      - make
      - gcc
      - python-pip
    state: present

- name: install requests package with pip
  pip:
    name: requests

- name: install Ubuntu system packages
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - librados-dev
    - librbd-dev
  when: ansible_distribution == "Ubuntu" and (ansible_lsb.major_release|int >=16 and ansible_lsb.major_release|int <=18)

- name: create soda work directory if it doesn't exist
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
  with_items:
    - "{{ hotpot_work_dir }}"
    - "{{ soda_config_dir }}"
    - "{{ soda_driver_config_dir }}"
    - "{{ soda_log_dir }}"
  when: deploy_project != "gelato"

- name: include scenarios/repository.yml when installing from repository
  include: scenarios/repository.yml
  when: install_from == "repository" and deploy_project != "gelato"

- name: include scenarios/release.yml when installing from release
  include: scenarios/release.yml
  when: install_from == "release" and deploy_project != "gelato"

- name: copy config templates into soda global config folder
  copy:
    src: ../../../../conf/
    dest: "{{ soda_config_dir }}"
  when: deploy_project != "gelato"


- name: export the controller ip , to be used by gelato-ha installer.
  add_host:
     name: "controller"
     controller_ip: " {{ host_ip }}"


- set_fact: common_role_done=True
  when: common_role_done is not defined
