# Copyright 2018 The soda Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
# Dummy variable to avoid error because ansible does not recognize the
# file as a good configuration file when no variable in it.
dummy:


###########
# GENERAL #
###########

apiserver_endpoint: "{{ host_ip }}:50040"
controller_endpoint: "{{ host_ip }}:50049"


# These fields are NOT suggested to be modified
hotpot_work_dir: /opt/soda-hotpot-linux-amd64
soda_config_dir: /etc/soda
soda_driver_config_dir: "{{ soda_config_dir }}/driver"
soda_log_dir: /var/log/soda
apiserver_log_file: "{{ soda_log_dir }}/osdsapiserver.log"
controller_log_file: "{{ soda_log_dir }}/osdslet.log"
dock_log_file: "{{ soda_log_dir }}/osdsdock.log"


##############
# REPOSITORY #
##############

# If user specifies intalling from repository, then he can choose the specific
# repository branch
api_repo_branch: "{{ repo_branch }}"
controller_repo_branch: "{{ repo_branch }}"
dock_repo_branch: "{{ repo_branch }}"

# These fields are NOT suggested to be modified
api_remote_url: https://github.com/sodafoundation/api.git
controller_remote_url: https://github.com/sodafoundation/controller.git
dock_remote_url: https://github.com/sodafoundation/dock.git


###########
# RELEASE #
###########

# If user specifies intalling from release,then he can choose the specific version
api_release: "{{ api_release_version }}" # The version should be at least v0.12.0
controller_release: "{{ controller_release_version }}" # The version should be at least v0.12.0
dock_release: "{{ dock_release_version }}" # The version should be at least v0.12.0

# These fields are NOT suggested to be modified
api_download_url: https://github.com/sodafoundation/api/releases/download/{{ api_release }}/soda-api-{{ api_release }}-linux-amd64.tar.gz
controller_download_url: https://github.com/sodafoundation/controller/releases/download/{{ controller_release }}/soda-controller-{{ controller_release }}-linux-amd64.tar.gz
dock_download_url: https://github.com/sodafoundation/dock/releases/download/{{ dock_release }}/soda-dock-{{ dock_release }}-linux-amd64.tar.gz

api_tarball_dir: /tmp/soda-api-{{ api_release }}-linux-amd64
controller_tarball_dir: /tmp/soda-controller-{{ controller_release }}-linux-amd64
dock_tarball_dir: /tmp/soda-dock-{{ dock_release }}-linux-amd64


#############
# CONTAINER #
#############

# These fields are NOT suggested to be modified
apiserver_docker_image: sodafoundation/apiserver:{{ api_release }}
controller_docker_image: sodafoundation/controller:{{ controller_release }}
dock_docker_image: sodafoundation/dock:{{ dock_release }}
