# Copyright 2019 The OpenSDS Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
# ----Stop all services to all ansible re-run in case of failure-----
- name: stop all services
  shell: "{{ item }}"
  with_items:
    - systemctl stop prometheus node_exporter alertmanager pushgateway sysstat lvm_exporter
  become: yes
  ignore_errors: yes

# ---------start to install prometheus---------
- name: add users and give permissions for prometheus
  shell: "{{ item }}"
  with_items:
    - id -u prometheus || useradd --no-create-home --shell /bin/false prometheus 
    - mkdir -p /etc/prometheus
    - mkdir -p /var/lib/prometheus
    - chown prometheus:prometheus /etc/prometheus
    - chown prometheus:prometheus /var/lib/prometheus
  become: yes

- name: download and install prometheus
  shell: "{{ item }}"
  with_items:
    - curl -LO https://github.com/prometheus/prometheus/releases/download/v2.9.2/prometheus-2.9.2.linux-amd64.tar.gz
    - tar xvf prometheus-2.9.2.linux-amd64.tar.gz
    - cp prometheus-2.9.2.linux-amd64/prometheus /usr/local/bin/prometheus
    - cp prometheus-2.9.2.linux-amd64/promtool /usr/local/bin/promtool
    - chown -R prometheus:prometheus /usr/local/bin/prometheus
    - chown -R prometheus:prometheus /usr/local/bin/promtool
    - cp -r prometheus-2.9.2.linux-amd64/consoles /etc/prometheus
    - cp -r prometheus-2.9.2.linux-amd64/console_libraries /etc/prometheus
    - chown -R prometheus:prometheus /etc/prometheus/consoles
    - chown -R prometheus:prometheus /etc/prometheus/console_libraries
    - rm -rf prometheus-2.9.2.linux-amd64.tar.gz prometheus-2.9.2.linux-amd64
  become: yes

- name: configuring prometheus
  shell: "{{ item }}"
  with_items:
    - bash ./script/set_prometheus_config.sh
    - chown prometheus:prometheus /etc/prometheus/prometheus.yml
  become: yes

- name: running prometheus
  shell: "{{ item }}"
  with_items:
    - bash ./script/set_prometheus_service.sh
    - systemctl daemon-reload
    - systemctl start prometheus
  become: yes

- name: check status of prometheus service
  shell: "{{ item }}"
  with_items:
    - systemctl status prometheus
  become: yes

# ---------start to install node_exporter---------
- name: download node_exporter
  shell: "{{ item }}"
  with_items:
    - curl -LO https://github.com/prometheus/node_exporter/releases/download/v0.17.0/node_exporter-0.17.0.linux-amd64.tar.gz
    - tar xvf node_exporter-0.17.0.linux-amd64.tar.gz
    - cp node_exporter-0.17.0.linux-amd64/node_exporter /usr/local/bin/
    - id -u node_exporter || useradd --no-create-home --shell /bin/false node_exporter
    - chown node_exporter:node_exporter /usr/local/bin/node_exporter
    - rm -rf node_exporter-0.17.0.linux-amd64.tar.gz node_exporter-0.17.0.linux-amd64
  become: yes

- name: edit node_exporter.service
  shell: "{{ item }}"
  with_items:
    - bash ./script/set_node_exporter_service.sh
  become: yes

- name: start node_exporter
  shell: "{{ item }}"
  with_items:
    - systemctl daemon-reload
    - systemctl start node_exporter
  become: yes

- name: check status of node_exporter service
  shell: "{{ item }}"
  with_items:
    - systemctl status node_exporter
  become: yes

- name: configuring prometheus to scrape node_exporter
  shell: "{{ item }}"
  with_items:
    - bash ./script/mod_prometheus_config_for_node_exporter.sh
  become: yes

- name: restart prometheus
  shell: "{{ item }}"
  with_items:
    - systemctl restart prometheus
  become: yes

- name: check status of prometheus service
  shell: "{{ item }}"
  with_items:
    - systemctl status prometheus
  become: yes

# ---------start to install pushgateway---------
- name: download pushgateway
  shell: "{{ item }}"
  with_items:
    - curl -LO https://github.com/prometheus/pushgateway/releases/download/v0.8.0/pushgateway-0.8.0.linux-amd64.tar.gz
    - tar xvf pushgateway-0.8.0.linux-amd64.tar.gz
    - cp pushgateway-0.8.0.linux-amd64/pushgateway /usr/local/bin/
    - id -u pushgateway || useradd --no-create-home --shell /bin/false pushgateway
    - chown pushgateway:pushgateway /usr/local/bin/pushgateway
    - rm -rf pushgateway-0.8.0.linux-amd64.tar.gz pushgateway-0.8.0.linux-amd64
  become: yes

- name: edit pushgateway.service
  shell: "{{ item }}"
  with_items:
    - bash ./script/set_pushgateway_service.sh
  become: yes

- name: start pushgateway
  shell: "{{ item }}"
  with_items:
    - systemctl daemon-reload
    - systemctl start pushgateway
  become: yes

- name: check status of pushgateway service
  shell: "{{ item }}"
  with_items:
    - systemctl status pushgateway
  become: yes

- name: configure, restart and check status of prometheus for pushgateway service
  shell: "{{ item }}"
  with_items:
    - bash ./script/mod_prometheus_config_for_pushgateway.sh
    - systemctl restart prometheus
    - systemctl status prometheus
  become: yes
# ---------start to install sysstat---------
- name: install sysstat
  shell: "{{ item }}"
  with_items:
    - apt-get install -y sysstat
    - sed -i 's/^ENABLED=.*/ENABLED="true"/g' /etc/default/sysstat
    - systemctl restart sysstat
  become: yes

- name: check status of sysstat service
  shell: "{{ item }}"
  with_items:
    - systemctl status sysstat
  become: yes

# ---------start  lvm_exporter---------
- name: copy lvm_exporter
  shell: "{{ item }}"
  tags:
    - lvm_exporter
  with_items:
    - cp /opt/opensds-hotpot-linux-amd64/bin/lvm_exporter /usr/local/bin/
    - chown root:root /usr/local/bin/lvm_exporter
  become: yes

- name: edit lvm_exporter.service
  shell: "{{ item }}"
  tags:
    - lvm_exporter
  with_items:
    - bash ./script/set_lvm_exporter_service.sh {{ lvm_exporter_port }}
  become: yes

- name: start lvm_exporter
  shell: "{{ item }}"
  tags:
    - lvm_exporter
  with_items:
    - systemctl daemon-reload
    - systemctl start lvm_exporter
  become: yes

- name: check status of lvm_exporter service
  shell: "{{ item }}"
  tags:
    - lvm_exporter
  with_items:
    - systemctl status lvm_exporter
  become: yes

- name: configuring prometheus to scrape lvm_exporter
  tags:
    - lvm_exporter
  shell: "{{ item }}"
  with_items:
    - bash ./script/mod_prometheus_config_for_lvm_exporter.sh {{ lvm_exporter_port }}
  become: yes

- name: restart prometheus
  tags:
    - lvm_exporter
  shell: "{{ item }}"
  with_items:
    - systemctl restart prometheus
  become: yes

- name: check status of prometheus service
  tags:
    - lvm_exporter
  shell: "{{ item }}"
  with_items:
    - systemctl status prometheus
  become: yes
# ---------start to install alertmanager---------
- name: download alertmanager
  shell: "{{ item }}"
  with_items:
    - curl -LO https://github.com/prometheus/alertmanager/releases/download/v0.16.2/alertmanager-0.16.2.linux-amd64.tar.gz
    - tar xvf alertmanager-0.16.2.linux-amd64.tar.gz
    - cp alertmanager-0.16.2.linux-amd64/alertmanager /usr/local/bin/
    - mkdir -p /etc/alertmanager
    - cp alertmanager-0.16.2.linux-amd64/alertmanager.yml /etc/alertmanager
    - mkdir -p /var/lib/alertmanager
    - id -u alertmanager || useradd --no-create-home --shell /bin/false alertmanager
    - chown alertmanager:alertmanager /etc/alertmanager
    - chown alertmanager:alertmanager /usr/local/bin/alertmanager
    - chown alertmanager:alertmanager /etc/alertmanager/alertmanager.yml
    - chown alertmanager:alertmanager /var/lib/alertmanager
    - rm -rf alertmanager-0.16.2.linux-amd64.tar.gz alertmanager-0.16.2.linux-amd64
  become: yes

- name: edit alertmanager.service
  shell: "{{ item }}"
  with_items:
    - bash ./script/set_alertmanager_service.sh
  become: yes

- name: start alertmanager
  shell: "{{ item }}"
  with_items:
    - systemctl daemon-reload
    - systemctl start alertmanager
    - systemctl enable alertmanager
  become: yes

- name: configuring prometheus to scrape alertmanager
  shell: "{{ item }}"
  with_items:
    - bash ./script/mod_prometheus_config_for_alertmanager.sh
  become: yes

- name: restart prometheus
  shell: "{{ item }}"
  with_items:
    - systemctl restart prometheus
  become: yes

- name: check status of prometheus service
  shell: "{{ item }}"
  with_items:
    - systemctl status prometheus
  become: yes

# ---------start to install grafana---------

- name: create grafana configuration config/data directory if it doesn't exist
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
  with_items:
    - "{{ grafana_conf_home }}"
    - "{{ grafana_data_home }}"

- name: copy configuration for grafana
  shell: "{{ item }}"
  with_items:
    - "cp -f ./telemetry/grafana/grafana.ini {{ grafana_conf_home }}"
    - "cp -rf ./telemetry/grafana/dashboards {{ grafana_data_home }}"
    - "cp -rf ./telemetry/grafana/provisioning {{ grafana_data_home }}"

- name: Setting prometheus url in grafana datasource
  lineinfile:
    dest: "{{ grafana_data_home }}/provisioning/datasources/prom_osds.yml"
    regexp: '^(.*)  url: (.*)$'
    line: "  url: {{ prometheus_url }}"
    backrefs: yes

- name: start grafana
  shell: docker-compose -f grafana.yml up -d 
  args:
    chdir: "./telemetry/grafana"
    
- name: wait for grafana to start normally
  wait_for:
    host: 127.0.0.1
    port: 3000
    delay: 10
    timeout: 120