# Copyright 2019 The OpenSDS Authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- name: stop container where dashboard is located
  docker_container:
    name: dashboard
    image: "{{ dashboard_docker_image }}"
    state: absent
  when: dashboard_installation_type == "container"
  ignore_errors: true
  tags: dashboard

- name: kill osdslet and osdsdock and osdsapiserver daemon service
  shell: killall osdslet osdsdock osdsapiserver
  when: install_from != "container"
  ignore_errors: true
  tags: hotpot

- name: kill osdslet containerized service
  docker_container:
    name: osdslet
    image: "{{ controller_docker_image }}"
    state: absent
  when: install_from == "container"
  tags: hotpot

- name: kill osdsapiserver containerized service
  docker_container:
    name: apiserver
    image: "{{ apiserver_docker_image }}"
    state: absent
  when: install_from == "container"
  tags: hotpot

- name: kill osdsdock containerized service
  docker_container:
    name: osdsdock
    image: "{{ dock_docker_image }}"
    state: absent
  when: install_from == "container"
  tags: hotpot

- name: clean etcd db resource
  file:
    path: "{{ etcd_dir }}"
    state: absent
    force: yes
  ignore_errors: yes
  when: database_purge is undefined or database_purge == true
  tags: hotpot

- name: stop all gelato services
  shell: docker-compose down
  args:
    chdir: "{{ gelato_work_dir }}"
  when: deploy_project != "hotpot"
  ignore_errors: yes
  tags: gelato

- name: clean opensds flexvolume plugins binary file if flexvolume specified
  file:
    path: "{{ flexvolume_plugin_dir }}"
    state: absent
    force: yes
  ignore_errors: yes
  when: sushi_plugin_type == "flexvolume"
  tags: sushi

- name: clean opensds external provisioner plugin if flexvolume specified
  shell: |
    . /etc/profile
    kubectl delete -f deploy/
  args:
    chdir: "{{ sushi_work_dir }}/provisioner"
  ignore_errors: yes
  when: sushi_plugin_type == "flexvolume"
  tags: sushi

- name: clean opensds csi plugin if csi plugin specified
  shell: |
    . /etc/profile
    kubectl delete -f deploy/kubernetes/block
    kubectl delete -f deploy/kubernetes/file
  args:
    chdir: "{{ sushi_work_dir }}/csi"
  ignore_errors: yes
  when: sushi_plugin_type == "csi"
  tags: sushi

- name: include scenarios/auth-keystone.yml when keystone specified
  include_tasks: scenarios/auth-keystone.yml
  when: opensds_auth_strategy == "keystone"
  tags: keystone

- name: include scenarios/repository.yml if installed from repository
  include_tasks: scenarios/repository.yml
  when: install_from == "repository"

- name: include scenarios/release.yml if installed from release
  include_tasks: scenarios/release.yml
  when: install_from == "release"

- name: include scenarios/backend.yml for cleaning up storage backend service
  include_tasks: scenarios/backend.yml
  tags: dock

- name: include scenarios/orchestration.yml for cleaning up orchestration service
  include_tasks: scenarios/orchestration.yml
  when: enable_orchestration == true
  tags: orchestration

- name: include scenarios/delfin.yml for cleaning up delfin service
  include_tasks: scenarios/delfin.yml
  when: enable_delfin == true
  tags: delfin

- name: include scenarios/srm_toolchain.yml for cleaning up SRM Toolchain
  include_tasks: scenarios/srm_toolchain.yml
  when: install_srm_toolchain == true
  tags: srm_toolchain

- name: clean all configuration and log files
  file:
    path: "{{ item }}"
    state: absent
    force: yes
  with_items:
    - "{{ opensds_config_dir }}"
    - "{{ opensds_log_dir }}"
    - "{{ opensds_certs_dir }}"
    - "{{ delfin_config_dir }}"
  ignore_errors: yes

- name: clean all created work directories
  file:
    path: "{{ item }}"
    state: absent
    force: yes
  with_items:
    - "{{ hotpot_work_dir }}"
    - "{{ sushi_work_dir }}"
    - "{{ dashboard_work_dir }}"
    - "{{ gelato_work_dir }}"
  ignore_errors: yes
  when: source_purge is undefined or source_purge != false
  tags: clean
